
body{
    background-color: black;
}

.imagen{
   text-align: center;
}


nav ul {

    display: flex;
    justify-content: center;   
    list-style: none;
}

nav ul li a {
    padding: 10px;
    background-color: blueviolet;
    color: black;
    border: 1px solid rgb(94, 0, 122);
    
}

a{
    text-decoration: none;
    color: black;
}

footer{
    color: white;
}